/*From the MIT Program "Certificate in Coding: Full Stack Development with MERN", December 2022 cohort, week 8*/
body {
  margin: 0;
  padding: 0;
  background: #8A2BE2;
}

.eyes {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
.eye {
  width: 250px;
  height: 130px;
  background: #fff;
  display: inline-block;
  margin: 50px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.ball {
  width: 90px;
  height: 90px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
